cffi==1.16.0 ; platform_python_implementation != "PyPy" and python_full_version == "3.12.4"
click==8.1.7 ; python_full_version == "3.12.4"
colorama==0.4.6 ; python_full_version == "3.12.4" and platform_system == "Windows"
contourpy==1.2.1 ; python_full_version == "3.12.4"
cryptography==42.0.8 ; python_full_version == "3.12.4"
cycler==0.12.1 ; python_full_version == "3.12.4"
fonttools==4.53.1 ; python_full_version == "3.12.4"
kiwisolver==1.4.5 ; python_full_version == "3.12.4"
markdown-it-py==3.0.0 ; python_full_version == "3.12.4"
matplotlib==3.9.1 ; python_full_version == "3.12.4"
mdurl==0.1.2 ; python_full_version == "3.12.4"
numpy==2.0.0 ; python_full_version == "3.12.4"
packaging==24.1 ; python_full_version == "3.12.4"
pillow==10.4.0 ; python_full_version == "3.12.4"
pycparser==2.22 ; platform_python_implementation != "PyPy" and python_full_version == "3.12.4"
pygments==2.18.0 ; python_full_version == "3.12.4"
pyparsing==3.1.2 ; python_full_version == "3.12.4"
python-dateutil==2.9.0.post0 ; python_full_version == "3.12.4"
rich==13.7.1 ; python_full_version == "3.12.4"
scipy==1.14.0 ; python_full_version == "3.12.4"
shellingham==1.5.4 ; python_full_version == "3.12.4"
six==1.16.0 ; python_full_version == "3.12.4"
typer==0.12.3 ; python_full_version == "3.12.4"
typing-extensions==4.12.2 ; python_full_version == "3.12.4"
wave==0.0.2 ; python_full_version == "3.12.4"
